html {
    background-color: aqua;
}

header {
    background-color: darkviolet;
    padding: 10px;
    text-align: center;
}

table {
    margin: 20px;
}

.hobby {
    background-image: url("images/table_bg.png");
}

#anime {
    font-family: fantasy;
}

#anime img {
    height: 200px;
}

#tv img {
    height: 200px;
    width: auto;
}

#vg img {
    max-height: 200px;
    width: auto;
}